%ol.breadcrumb
  %li
    %a{ href: root_path }
      Latte Deploy
  %li
    %a{ href: show_project_path(project: @repo.project.key) }
      = @repo.project.name
  %li
    = @repo.name

.repo-header
  %h2
    = @repo.name
  .location
    %i.fa.fa-globe
    &nbsp;
    = @repo.uri

.environments
  .row.row-centered
    - @repo.environments.each_with_index do |env, i|
      - if i > 0
        .col-md-1.env-spacer.col-centered
          %i.fa.fa-long-arrow-right.fa-2x

      .col-md-2.col-centered
        .environment.alert.alert-success
          %p
            = env.name
          %strong
            = env.version
